

#rSidebar {
 position: relative;
 width: 350px;
 height: 100vh;
 top: 0vh;
 float: right;
 z-index:4;
 padding: 0px 0px 0px 50px;
 background-color: #fff;
 transition: transform 0.3s, width 0.3s;
}

/* EXPANDED DETAIL VIEW */
#rSidebar.vActive {
 width: 75vw;
 padding: 0px 0px 0px 4vw;
}


#vizToggle {
		font-size: 12px;
		line-height: 30px;
		font-weight: normal;
		text-align: center;
		height: 40px;
}

#vizToggle a, #vizToggle a:visited {
  color: #969696;
  text-decoration: none;
}

#summary {
  float: left;
  width: 25%;
  height: 40px;
  padding: 5px;
  background-color: #e5e5e5;
  overflow: hidden;
}

#summary:hover {
  font-family: "raleway", Arial, sans;
  background-color: #f0f0f0;
  font-weight: 600;
}

#summary.vActive {
  background-color: #fff;
  font-family: "raleway", Arial, sans;
  width: 50%;
  min-width: 150px;
  font-weight: 600;
}

#summary.vActive:hover {
  background-color: #fff;
}

#summary:before {
    content: "BACK TO TREND SUMMARY";
}

#summary.vActive:before {
    content: "TREND SUMMARY";
}

#detail {
  float: right;
  width: 50%;
  text-align: center;
  height: 40px;
  padding: 5px;
  background-color: #d1d3d4;
}

#detail:hover {
  font-family: "raleway", Arial, sans;
  background-color: #e1e1e1;
  font-weight: 600;
}

#detail.vActive:hover {
  background-color: #fff;
}

#detail.vActive {
  background-color: #fff;
  font-weight: bold;
  width: 75%;
  overflow: hidden;
  font-family: "raleway", Arial, sans;
  font-weight: 600;
}

#detail:before {
  content: "GO TO DETAIL VIEW";
}

#detail.vActive:before {
  content: "DETAIL VIEW: trends and yearly variability from 1950 - 2010 for all climate indices";
}


*,
*:after,
*::before {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
}

.menu-wrapper {
		position: fixed;
		height: 100%;
		top: 30px;
  	right: 300px;
		overflow: hidden;
		width: 50px;
		-webkit-transform: translateX(0px);
		-moz-transform: translateX(0px);
		transform: translateX(0px);
		-webkit-transition: -webkit-all 0.3s;
		-moz-transition: -moz-all 0.3s;
		transition: all 0.3s;
    background-color: #a7a9ac;
    z-index: 5; 
    border-left: 1px solid #a7a9ac;
}

.menu-wrapper.vActive {
  right: 71vw;
}

.menu-wrapper p {
  font-size: 11px;
  line-height: 1.4em;
}

/*----- MENU LIST ITEMS -----*/

.menu-wrapper ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;  
}

.menu-wrapper ul li { 
    display: block;
}

/* Top menu item */
.chooseidx {
    background: #a7a9ac;
    height: 40px;
    color: #fff;
    line-height: 30px;
    padding: 5px;
    font-size: 12px;
    font-weight: normal;
}

ul.submenu {
  background-color: #f0f0f0;
  width: 100%;
  height: 0px;
  overflow: hidden;
  transition:all 0.5s ease;
  padding-bottom: -1px;
}

.submenu li {
    height: -10px;
    width: 100%;
    font-size: 12px;
    font-weight: normal;
    line-height: 14px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.submenu li a {
    display: block;
    position: relative;
    height: 30px;
    padding: 7px 20px 8px 60px; /*top, right, bottom, left*/
    color: #939598;
}

.submenu li a:hover{
    top: -2px;
    padding-top: 8px;
    border-top: 1px solid #d1d3d4;
    border-bottom: 1px solid #d1d3d4;
}

.submenu li a.activeBut, .submenu li a.activeBut:hover  {
  background-color: #fff;
  color: #3e3e3e;
  top: -1px;
  padding-top: 8px;
  border-top: 1px solid #d1d3d4;
  border-bottom: 1px solid #d1d3d4;
}

.navToggle {
  position:absolute;
  appearance:none;
  cursor:pointer;
  left:-100%;
  top:-100%;
}
 
.navToggle + label{
  cursor:pointer;
  display: block;
  background-color: #d1d3d4;
  color: #939598;
  height: 50px;
  padding: 5px;
  line-height: 25px;
  font-family: "raleway", Arial, sans-serif;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  transition: all 500ms ease;
}

.navToggle + label:after {
  content:" >" 
}

.navToggle + label:hover {
  background-color: #e1e1e1;
}
 
.navToggle:checked ~ .submenu {
  top: 0;
  height: auto;
  padding-top: 1px;
  transition:all 500ms ease;
}

/* colour of label after selected */
.navToggle:checked + label  {
  background-color: #f0f0f0;
  color: #3e3e3e;
}

.navToggle:checked + label:after {
  content:" v"
}

/* INFO */
#infotoggle + label {
  margin: 0;
  line-height: 12px;
  padding: 10px 100px 10px 5px;
}

#infotoggle + label:after {
  content: "OTHER INFO";
}

#infotoggle:checked + label {
  background: #b1b1b1;
} 
#infotoggle:checked + label:after {
  content:"OTHER INFO [X]";
}

#infobox {
  position: absolute; 
  left: 0px; 
  top: 0px;
  z-index:4;
}


/* ICONS */

.icon:before {
    display: inline-block;
    width: 35px;
    height: 35px;
    text-align: center;
    margin-left: 5px;
    margin-right: 15px;
}

.chooseidx::before { content: url(../imgs/menu_w.png); vertical-align: -5px;}
.gtico::before { content: url(../imgs/gt-ico-2.svg); vertical-align: -10px;}
.gtico:hover::before, #gttoggle:checked + .gtico::before { content: url(../imgs/gt-ico.svg); vertical-align: -10px;}
.hwico::before { content: url(../imgs/hw-ico-2.svg); vertical-align: -10px;}
.hwico:hover::before, #hwtoggle:checked + .hwico::before { content: url(../imgs/hw-ico.svg); vertical-align: -10px;}
.cwico::before { content: url(../imgs/cw-ico-2.svg); vertical-align: -10px; }
.cwico:hover::before, #cwtoggle:checked + .cwico::before {content: url(../imgs/cw-ico.svg); vertical-align: -10px;}
.mtico::before { content: url(../imgs/mean-ico-2.svg); vertical-align: -10px;}
.mtico:hover::before, #mttoggle:checked + .mtico::before {content: url(../imgs/mean-ico.svg); vertical-align: -10px;}
.pico::before { content: url(../imgs/precip-ico-2.svg); vertical-align: -10px;}
.pico:hover::before, #ptoggle:checked + .pico::before{content: url(../imgs/precip-ico.svg); vertical-align: -10px;}
.info::before {content: url(../imgs/info.png); vertical-align: -12px;}
.info:hover::before {content: url(../imgs/info.png); vertical-align: -12px;}



/* Menu Open and Close */

.menu-wrapper.open-all {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
}

.menu-wrapper.open-all {
    min-width: 250px; 
}

.scroller {
    position: absolute;
    overflow-y: none;
    min-width: 250px;
    height: 100%;
}

@media screen and (max-width: 422px) { 
  .menu-wrapper.open-all {
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      transform: translateX(0px);
      width: 100%;
  }

  .menu-wrapper.open-all .scroller {
      width: 130%
  }
}

.divText {
  display: none;
}

#year:hover + div {
  display: block;

}
